<html>
	<head>
			<title>Orders</title>
			<link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
			<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />			
			<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">			
			<link rel="stylesheet" href="./css/index.css" />			
      <script src="/bower_components/angular/angular.min.js"></script>
			<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
			<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
			<script src="/bower_components/angular-material/angular-material.min.js"></script>		
      <script src="/bower_components/firebase/firebase.js"></script>		
      <script src="/bower_components/angularfire/dist/angularfire.js"></script>	
      <script src="/bower_components/moment/min/moment.min.js"></script>														
      <script src="./js/index.js"></script>
			<script>
				// Initialize the Firebase SDK

				var config = {
					apiKey: "AIzaSyAr-GmcfRJkiiOYau8zlUQYXTs8lBqGCiw",
					authDomain: "kopiboyapp-6a596.firebaseapp.com",
					databaseURL: "https://kopiboyapp-6a596.firebaseio.com",
					storageBucket: "kopiboyapp-6a596.appspot.com"
				}
								
				firebase.initializeApp(config);
			</script>			
	</head>
	<body ng-app="display" ng-controller="main">
		<md-content layout="column">
			<md-card
				class="order"
				ng-if="!order.rejected && !order.collected" style="box-shadow:none;background-color:#F4B350;margin: 8px 0;"
				ng-repeat="order in orders | orderBy: 'pickup_at'"
				ng-init="getCustomerName(order.customer)">
				<md-card-content style="padding:0px;" layout="row">
					<!--profile picture-->
					<div style="padding:10px;" ng-if="customerProfile[order.customer].picture">
						<div ng-style="{'background-image':'url({{customerProfile[order.customer].picture}})'}"
						style="
							background-size:cover;
							background-position:center;
							border-radius:9999em;
							height:76px;
							width:76px;">
						</div>
					</div>
					<!--name + order-->					
					<div layout="column" flex="25" layout-align="center start" style="padding:10px;margin-top:8px;">
						<span style="font-family: 'Anonymous Pro', monospace;font-size:25px;font-weight:700;" ng-repeat="(key, value) in order.items">
							<span style="background-color: #EB974E; padding:10px;">{{value}}</span> 
							<span>{{key}}</span>
						</span>
						<span style="padding-top:16px;overflow:hidden;white-space:pre;max-width:100%;text-overflow:ellipsis;">{{customerProfile[order.customer].name}}</span>
					</div>
					<!--temp-->										
					<div style="padding:10px;">
						<div style="height:64px;width:64px;" ng-class="{'hot': order.temperature === 'Hot', 'cold': order.temperature === 'Cold', 'iced': order.temperature === 'Iced'}"></div>
					</div>
					<!--sugar-->															
					<div style="padding:10px;">
						<span layout="column" layout-align="center start" style="font-family: 'Anonymous Pro', monospace; font-size:25px;font-weight:900;">
							<span>sugar:</span>
							<span>{{order.sugar}}</span>
						</span>
					</div>	
					<!--time-->															
					<div flex ng-init="order.pickupAt = refinePickupTime(order.pickup_at)">
						<p style="font-family: 'Anonymous Pro', monospace;color:white; font-size:25px;padding:10px;font-weight:900;">
							{{order.pickupAt}}</p>
					</div>	
					<!--confirm, reject, collected-->															
					<div ng-if="!!!order.rejected" layout="column" ng-click="confirm(order, $event)" layout-align="center center" style="width:64px;background-color:#68C3A3;">
						<i class="fa fa-check fa-2x"></i>
					</div>		
					<div ng-if="!!!order.confirmed" layout="column" ng-click="reject(order, $event)" layout-align="center center" style="width:64px;background-color:#EC644B;">
						<i class="fa fa-times fa-2x"></i>
					</div>				
					<div ng-if="!collected" layout="column" layout-align="center center" ng-click="collect(order, $event)" style="background-color:lightgray;padding:10px;">
						<span>Collected</span>
					</div>																										
				</md-card-content>
			</md-card>

			<!--REJECTED ORDERS-->
			<md-toolbar style="margin-top:20px;background-color:black;" class="md-theme-light">
				<h2 class="md-toolbar-tools">
					<span>Rejected Orders</span>
				</h2>
			</md-toolbar>

			<md-card class="order" ng-if="order.rejected" style="box-shadow:none;background-color:#F4B350;margin: 8px 0;"
				ng-repeat="order in orders | orderBy: 'pickup_at'"
				ng-init="getCustomerName(order.customer)">
				<md-card-content style="padding:0px;" layout="row">
					<!--profile picture-->
					<div style="padding:10px;" ng-if="customerProfile[order.customer].picture">
						<div ng-style="{'background-image':'url({{customerProfile[order.customer].picture}})'}"
						style="
							background-size:cover;
							background-position:center;
							border-radius:9999em;
							height:76px;
							width:76px;">
						</div>
					</div>
					<!--name + order-->					
					<div layout="column" flex="25" layout-align="center start" style="padding:10px;margin-top:8px;">
						<span style="font-family: 'Anonymous Pro', monospace;font-size:25px;font-weight:700;" ng-repeat="(key, value) in order.items">
							<span style="background-color: #EB974E; padding:10px;">{{value}}</span> 
							<span>{{key}}</span>
						</span>
						<span style="padding-top:16px;overflow:hidden;white-space:pre;max-width:100%;text-overflow:ellipsis;">{{customerProfile[order.customer].name}}</span>
					</div>
					<!--temp-->										
					<div style="padding:10px;">
						<div style="height:64px;width:64px;" ng-class="{'hot': order.temperature === 'Hot', 'cold': order.temperature === 'Cold', 'iced': order.temperature === 'Iced'}"></div>
					</div>
					<!--sugar-->															
					<div style="padding:10px;">
						<span layout="column" layout-align="center start" style="font-family: 'Anonymous Pro', monospace;font-size:25px;font-weight:900;">
							<span>sugar:</span>
							<span>{{order.sugar}}</span>
						</span>
					</div>	
					<!--time-->															
					<div flex ng-init="order.pickupAt = refinePickupTime(order.pickup_at)">
						<p style="font-family: 'Anonymous Pro', monospace;color:white; font-size:25px;padding:10px;font-weight:900;">
							{{order.pickupAt}}</p>
					</div>	
					<!--confirm, reject, collected-->															
					<div ng-if="!!!order.rejected" layout="column" ng-click="confirm(order, $event)" layout-align="center center" style="width:64px;background-color:#68C3A3;">
						<i class="fa fa-check fa-2x"></i>
					</div>		
					<div ng-if="!!!order.confirmed" layout="column" ng-click="reject(order, $event)" layout-align="center center" style="width:64px;background-color:#EC644B;">
						<i class="fa fa-times fa-2x"></i>
					</div>				
					<div ng-if="!collected" layout="column" layout-align="center center" ng-click="collect(order, $event)" style="background-color:lightgray;padding:10px;">
						<span>Collected</span>
					</div>																								
				</md-card-content>
			</md-card>

			<!--COLLECTED ORDERS-->
			<md-toolbar style="margin-top:20px;background-color:black;" class="md-theme-light">
				<h2 class="md-toolbar-tools">
					<span>Collected Orders</span>
				</h2>
			</md-toolbar>			
			<md-card
				class="order"
				ng-if="order.collected" style="opacity:0.5;box-shadow:none;background-color:#F4B350;margin: 8px 0;"
				ng-repeat="order in orders | orderBy: 'pickup_at'"
				ng-init="getCustomerName(order.customer)">
				<md-card-content style="padding:0px;" layout="row">
					<!--profile picture-->
					<div style="padding:10px;" ng-if="customerProfile[order.customer].picture">
						<div ng-style="{'background-image':'url({{customerProfile[order.customer].picture}})'}"
						style="
							background-size:cover;
							background-position:center;
							border-radius:9999em;
							height:76px;
							width:76px;">
						</div>
					</div>
					<!--name + order-->					
					<div layout="column" flex="25" layout-align="center start" style="padding:10px;margin-top:8px;">
						<span style="font-family: 'Anonymous Pro', monospace;font-size:25px;font-weight:700;" ng-repeat="(key, value) in order.items">
							<span style="background-color: #EB974E; padding:10px;">{{value}}</span> 
							<span>{{key}}</span>
						</span>
						<span style="padding-top:16px;overflow:hidden;white-space:pre;max-width:100%;text-overflow:ellipsis;">{{customerProfile[order.customer].name}}</span>
					</div>
					<!--temp-->										
					<div style="padding:10px;">
						<div style="height:64px;width:64px;" ng-class="{'hot': order.temperature === 'Hot', 'cold': order.temperature === 'Cold', 'iced': order.temperature === 'Iced'}"></div>
					</div>
					<!--sugar-->															
					<div style="padding:10px;">
						<span layout="column" layout-align="center start" style="font-family: 'Anonymous Pro', monospace; font-size:25px;font-weight:900;">
							<span>sugar:</span>
							<span>{{order.sugar}}</span>
						</span>
					</div>	
					<!--time-->															
					<div flex ng-init="order.pickupAt = refinePickupTime(order.pickup_at)">
						<p style="font-family: 'Anonymous Pro', monospace;color:white; font-size:25px;padding:10px;font-weight:900;">
							{{order.pickupAt}}</p>
					</div>	
					<!--confirm, reject, collected-->															
					<div ng-if="!!!order.rejected" layout="column" ng-click="confirm(order, $event)" layout-align="center center" style="width:64px;background-color:#68C3A3;">
						<i class="fa fa-check fa-2x"></i>
					</div>		
					<div ng-if="!!!order.confirmed" layout="column" ng-click="reject(order, $event)" layout-align="center center" style="width:64px;background-color:#EC644B;">
						<i class="fa fa-times fa-2x"></i>
					</div>				
					<div ng-if="!collected" layout="column" layout-align="center center" ng-click="collect(order, $event)" style="background-color:lightgray;padding:10px;">
						<span>Collected</span>
					</div>																										
				</md-card-content>
			</md-card>
		</md-content>
	</body>
</html>