<html>
	<head>
			<title>Orders</title>
			<link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
			<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">			
      <script src="/bower_components/angular/angular.min.js"></script>
			<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
			<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
			<script src="/bower_components/angular-material/angular-material.min.js"></script>		
      <script src="/bower_components/firebase/firebase.js"></script>		
      <script src="/bower_components/angularfire/dist/angularfire.js"></script>						
      <script src="./js/index.js"></script>
			<script>
				// Initialize the Firebase SDK

				var config = {
					apiKey: "AIzaSyAr-GmcfRJkiiOYau8zlUQYXTs8lBqGCiw",
					authDomain: "kopiboyapp-6a596.firebaseapp.com",
					databaseURL: "https://kopiboyapp-6a596.firebaseio.com",
					storageBucket: "kopiboyapp-6a596.appspot.com"
				}
								
				firebase.initializeApp(config);
			</script>			
	</head>
	<body ng-app="display" ng-controller="main">
		<md-content layout="column">
			<md-card style="background-color:#F4B350;"
				ng-repeat="order in orders"
				ng-init="getCustomerName(order.customer)">
				<md-card-content layout="row">
					<div ng-if="customerProfile[order.customer].picture">
						<div ng-style="{'background-image':'url({{customerProfile[order.customer].picture}})'}"
						style="
							background-size:cover;
							background-position:center;
							border-radius:9999em;
							height:64px;
							width:64px;">
						</div>
					</div>
					<div layout="column">
						<span style="font-family: 'Anonymous Pro', monospace;font-size:25px;font-weight:700;" ng-repeat="(key, value) in order.items">
							<span style="background-color: #EB974E; padding:10px;">{{value}}</span> 
							<span>{{key}}</span>
						</span>
						<span style="padding-top:10px;">{{customerProfile[order.customer].name}}</span>
					</div>
					<div>
						<p>{{order.temperature}}</p>
					</div>
					<div>
						<p>{{order.sugar}}</p>
					</div>	
					<div>
						<p>{{order.pickup_at}}</p>
					</div>									
				</md-card-content>
			</md-card>
			<table>
				<tr>
					<th>Profile Pic</th>	
					<th>Customer</th>
					<th>Pickup time</th>
					<th>Items</th>	
					<th>Sugar</th>	
					<th>Temp</th>	
					<th>Confirmed</th>	
					<th>Collected</th>	
				</tr>
				<tr ng-repeat="order in orders" ng-init="customer = getCustomerName(order.customer)">
					<td><img style="width:40px;" ng-src="{{customer.picture}}"/></td>
					<td>{{customer.name}}</td>
					<td>{{order.pickup_at}}</td>
					<td>{{order.items}}</td>			
					<td>{{order.sugar}}</td>			
					<td>{{order.temperature}}</td>							
					<td>{{order.confirmed}}</td>				
					<td>{{order.collected}}</td>	
					
					<td><button ng-click="collected()">Collected</button></td>			
					<td><button ng-click="collected()">Collected</button></td>
					<td><textarea></textarea></td>		
				</tr>
			</table>
		</md-content>
	</body>
</html>