<html>
	<head>
			<title>Orders</title>
      <script src="/bower_components/angular/angular.min.js"></script>		
      <script src="/bower_components/firebase/firebase.js"></script>		
      <script src="/bower_components/angularfire/dist/angularfire.js"></script>						
      <script src="./js/index.js"></script>
			<script>
				// Initialize the Firebase SDK

				var config = {
					apiKey: "AIzaSyAr-GmcfRJkiiOYau8zlUQYXTs8lBqGCiw",
					authDomain: "kopiboyapp-6a596.firebaseapp.com",
					databaseURL: "https://kopiboyapp-6a596.firebaseio.com",
					storageBucket: "kopiboyapp-6a596.appspot.com"
				}
								
				firebase.initializeApp(config);
			</script>			
	</head>
	<body ng-app="display" ng-controller="main">
		<table>
			<tr>
				<th>Customer</th>
				<th>Pickup time</th>
				<th>Items</th>	
				<th>Confirmed</th>	
				<th>Collected</th>	
			</tr>
			<tr ng-repeat="order in orders" ng-init="customer = getCustomerName(order.customer)">
				<td>{{customer.name}}</td>
				<td>{{order.pickup_at}}</td>
				<td>{{order.items}}</td>			
				<td>{{order.confirmed}}</td>				
				<td>{{order.collected}}</td>	
				
				<button ng-click="collected()">Collected</button>					
				<button ng-click="collected()">Collected</button>	
				<textarea></textarea>		
			</tr>
		</table>
	</body>
</html>